
@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
    <head>
        <h1>Create Ticket</h1>
    </head>

<body>
@*
    <form>
        Ticket ID <input type="text" name="ticketID" />
        <br />Category <input type="text" name="category" />
        <br />Description <input type="text" name="description" />
        <br />Priority <input type="text" name="priority" />
        <br />Open Date <input type="text" name="openDate" />
        <br />Status <input type="text" name="status" />
        <br /><input type="submit" value="Submit" />
    </form>
*@
<form method="post">
    <fieldset>
        <legend>Create Ticket</legend>
        <div>
            <label for="TicketID">Ticket ID </label>
            <input type="number" name="TicketID" value="" /> @*This is set to type "number" right now for testing to try out different types. Set back to text to allow for alphanumeric ID's in production build.*@
        </div>
        <div>
            <label for="Category">Category </label>
            <input type="text" name="Category" value="" />
        </div>
        <div>
            <label for="Description">Description </label>
            <input type="text" name="Description" value="" />
        </div>
        <div>
            <label for="Priority">Priority </label>
            <input type="text" name="Priority" value="" />
        </div>
        <div>
            <label for="OpenDate">Open Date </label>
            <input type="date" name="OpenDate" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type ="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
    </body>
</html>